@import "nullStyle.scss";

body{
    font-family: "Poppins";
    font-weight: 300;
    color: #9C9C9C;
    background-color: #1E1E1E;

    a {
        color:#9C9C9C
    }
}

[class*= "__container"] {
    max-width: 1310px;
    margin: 0 auto;;
    padding: 0 15px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

//------------------------------------------------------------------------------------------------
//--Header
//------------------------------------------------------------------------------------------------

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(30, 30, 30, 0.8)
}

.header {

    &__container {
        min-height: 116px;
        padding: 5px 0;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0 15px;
    }


    &__menu {
        flex: 1 1 auto;
    }

    &__button {
        flex: 0 0 auto;
    }

}

.icon-menu {
    display: none;
}

.menu {

    &__list {
        display: flex;
        gap: 35px; 
        justify-content: flex-end;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3px;
    }

    &__item:hover {
        text-decoration: underline;
    }

    &__link {
        display: block;
        font-size: 16px;
        line-height: 1.62; /* 26/16 */
        color: #FFFFFF;
    }
}

.cart-header {
    display: flex;
    gap: 5px;

    &__img {
        display: none;
    }
    &__text {
        display: inline-block;
        font-size: 18px;
        line-height: 1.55; /* 28/18 */
        color: #FFFFFF;
    }

    &__text:hover {
        text-decoration: underline;
    }

    &__quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        color: #FFFFFF;
        background: rgba(129, 129, 139, 0.3);
        border-radius: 29.9375px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 160px;
    line-height: 1.57; /* 22/14 */
    background: #3D96F4;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 500;
    transition: background-color 0.4s ease 0s ;
}

@media (max-width: 991.98px) {
    .button {
        height: 49px;
        width: 140px;
    }
}

.button:hover {
    background-color:#5da1ea;
}

.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}


@media (max-width: 991.98px) {
    .menu__list,
    .header__container {
        gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }

}

@media (max-width: 767.98px) {
    .menu__list,
    .header__container {
        gap: 15px;
    }

    .icon-menu{
        background-color: #1E1E1E;
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.2s;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after{
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }

    .menu-open .icon-menu{
        background-color: #000;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .menu-open .icon-menu span {
        width: 0;
    }


    .menu__body {
        position: fixed;
        width:  100%;
        height: 100%;
        background-color: #000;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        left: -100%;
        transition: left 0.3s ease 0s;
    } 

    .menu__body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color:#000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }

    .menu-open .menu__body,
    .menu-open .menu__body::before {
        left: 0;
    }
    

    .menu__list {
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 32px;
    }

    .header__container {
        min-height: 70px;
    }



}

@media (max-width: 480px) {
    .menu__list,
    .header__container {
        gap: 10px;
    }
    

    .header__logo {
        width: 38px;
        overflow: hidden;
        flex: 0 0 38px;
    }

    .cart-header__text {
        display: none;
    }

    .cart-header__quantity { 
        font-weight: 500; 
        border-radius: 0; 
        background-color: #1E1E1E;
    }

    .menu-open .cart-header__quantity {
        background-color: #000;
    }

    .cart-header__img {
        position: absolute;
        display: block;
        width: 65px;
        height: 94px;
        top: -35px;
        left: -17px;
    }

    .cart-header__img img{
        width: 100%;
        height: 100%;
    }

    .header {

        &__container {
            justify-content: space-around;
            
        }
    
    
        &__menu {
            flex: 0 0 auto;
        }
    
        &__button {
            flex: 0 0 auto;
        }
    
    }
}



//------------------------------------------------------------------------------------------------
//--Main
//------------------------------------------------------------------------------------------------

.main {
    flex: 1 1 auto;
    margin-top: 116px;
} 

.main {

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__section {
        padding-bottom: 172px;
    }
    
    &__content {
        flex: 0 1 50%;
        min-width: 560px;
        padding-top: 170px;
        padding-left: 40px;
        padding-right: 10px;
    }

    &__title {
        font-weight: 500;
        font-size: 51.2px;
        line-height: 1.19;
        color: #FFFFFF;
        position: relative;
    }

    &__title::before {
        position: absolute;
        content: "";
        background:url("../img/main/main/points.png") 0 0 / 100% no-repeat;
        top: -20px;
        left: -34px;
        width: 122px;
        height: 122px;
    }

    &__text {
        font-size: 18px;
        line-height: 27px;
        padding: 32px 0;
    }

    &__actions {
        display: flex;
        gap: 32px;
    }


    &__images {
        flex: 0 1 50%;
    }
}

.button {

    &__dark {
        background-color: #4b4b57;
    }

    &__dark:hover {
        background-color: #373740;
    }
}

.images-main {
    padding-top: 44px;
}

.imades-main__item {
    display: flex;
    justify-content: end;
    padding-right: 27px;
    gap: 10%;
}

.imades-main__item-colum {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imades-main__item-colum img{
    width: 100%;
}

.imades-main__item1 {
    border-radius: 50% / 29%;
    overflow: hidden;
}
.imades-main__item2 {     
    border-radius: 50% 50% 0 50%;
    overflow: hidden;
}

.imades-main__item3 {
    border-radius: 50% 0px 50% 50%;
    overflow: hidden;
}
.imades-main__item4 {
    border-radius: 50% / 29%;
    overflow: hidden;
}

@media (max-width: 1030px) {

    .main__content {
        padding-top: 120px;
    }

    .images-main {
        padding-top: 24px;
    }

    .main__text {
        font-size: 16px;
    }

    .main__title {
        font-size: 46px;
    }
}

@media (max-width: 991.98px) {
    .main__section {
        padding-bottom: 100px;
    }

    .main__content {
        padding-top: 90px;
        min-width: auto;
    }

    .images-main {
        padding-top: 4px;
    }

    .main__text {
        font-size: 14px;
    }

    .main__title {
        font-size: 36px;
    }

    .main__title::before {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 820px) {
    .main__section {
        padding-bottom: 80px;
    }

    .main__content {
        padding-top: 80px;
        padding-left: 30px;
    }

    .main__title {
        font-size: 30px;
    }

    .main__title::before {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 767.98px) {

    .main__section {
        padding-bottom: 50px;
    }

    .main {
        margin-top: 70px;
    } 

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .main__content {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .main__title::before {
        display: none;
    }

    .main__actions {
        display: flex;
        gap: 42px;
        justify-content: center;
    }

    .imades-main__item {
        padding-right: 0px;
    }

    .imades-main__item-colum {
        gap: 22px;
    }

    .main__text {
        padding: 22px 0;
    }

    .main__button {
        height: 53px;
        width: 180px;
    }
}

@media (max-width: 480px) { 

    .main {
        margin-top: 50px;
    } 

    .main__section {
        padding-bottom: 30px;
    }

    .main__button {
        height: 53px;
        width: 250px;
        font-size: 16px;
    }

    .main__actions {
        gap: 12px;
    }

    .main__text {
        line-height: 1.52; /* 26/16 */
    }

    .main__actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}


//------------------------------------------------------------------------------------------------
//--Main - clients
//------------------------------------------------------------------------------------------------

.clients {
    padding-bottom: 160px;

    &__title {
        text-align: center;
        text-transform: uppercase;
        line-height: 1.57; /* 22/14 */
        color: #FFFFFF;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item img{
        width: 100%;
    }

    .clients__items::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        background: linear-gradient(90deg, #1E1E1E 8%, rgba(0, 0, 0, 0) 100%);
        ;
        top: 0;
        left: 0px;
    }

    .clients__items::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        background: linear-gradient(270deg, #1E1E1E 8%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        right: 0px;
    }
}

@media (min-width: 1300px) {
    .clients__items {
        position: relative;
    }

    .clients__items::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        background: linear-gradient(90deg, #1E1E1E 8%, rgba(0, 0, 0, 0) 100%);
        ;
        top: 0;
        left: 90px;
    }

    .clients__items::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        background: linear-gradient(270deg, #1E1E1E 8%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        right: 90px;
    }
}

@media (max-width: 1130px) {
    .clients__items {
        justify-content: center;
    }
}

@media (max-width: 991.98px) {
    .clients {
        padding-bottom: 120px;
    }
}

@media (max-width: 767.98px) {
    .clients {
        padding-bottom: 90px;
    }
}

@media (max-width: 480px) {
    .clients {
        padding-bottom: 30px;
    }

    .clients__items {
        gap: 2px;
    }
}

//---------------------------------------------------------------------------------------------
//--Main - services
//---------------------------------------------------------------------------------------------

.services {
    padding-bottom: 95px;

    &__container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    &__content {
        flex: 0 1 50%;
        padding-top: 220px;
        max-width: 520px;
    }

    &__btn {
        text-transform: uppercase;
        box-sizing: border-box;
        height: 37px;
        border: 1px solid rgba(129, 129, 139, 0.2);
        border-radius: 12px;
        font-size: 11px;
        line-height: 1.54; /* 17/11 */
        padding: 11px 18px;
    }

    &__title {
        padding-top: 30px;
        font-weight: 500;
        font-size: 51px;
        line-height: 1.19; /* 61/51 */
        color: #FFFFFF;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5; /* 27/18 */
        color: #9C9C9C;
        padding: 12px 0 33px 0;
    }

    &__cards {
        flex: 0 1 50%;
    }
}


.cards {
    display: flex;
    gap: 32px;

    &__column {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__column:nth-child(1){
        padding-top: 48px;
    }

    &__item {
        padding: 55px 25px 52px 25px;
        background: rgba(129, 129, 139, 0.1);
        border-radius: 30px;
    }


    &__title {
        font-weight: 400;
        font-size: 19px;
        line-height: 1.42; /* 27/19 */
        color: #FFFFFF;
        padding: 15px 0 10px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 1.5; /* 24/16 */
        color: #81818B;
    }
}

@media (max-width: 1180px) {

    .services {
        padding-bottom: 80px;
    }
    .services__container {
        flex-direction: column;
        gap: 30px;
    }

    .services__content {
        padding-top: 0px;
        max-width: 740px;
    }

    .cards__column:nth-child(1){
        padding-top: 0px;
    }
}

@media (max-width: 999px){
    .cards__item {
        padding: 20px 10px;
    }
}

@media (max-width: 767.98px) {
    .services__content {
       text-align: center;
    }

    .services__button {
        height: 53px;
        width: 250px;
        font-size: 16px;
    }

    .services {
        padding-bottom: 60px;
    }
}

@media (max-width: 710px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .cards__item {
        max-width: 500px;
        text-align: center;
    }

    .services__title {
        font-size: 30px;
    }

    .services__text{
        font-size: 14px;
        line-height: 1.71; /* 24/14 */
    }
}

@media (max-width: 480px) {
    .services {
        padding-bottom: 25px;
    }
}


//---------------------------------------------------------------------------------------------
//--Main - Why
//---------------------------------------------------------------------------------------------

.why {

    padding-bottom: 95px;
    padding-top: 95px;
    padding-left: 13px;

    &__container {
        display: flex;
        gap: 60px;
    }

    &__images {
        flex: 0 1 50%;
        display: flex;
        align-self: center;
        position: relative;
    }

    &__images img{
        width: 100%;
    }

    &__images-item-1 {
        overflow: hidden;
        border-radius: 90% 0 50% 50%/50% 28% 28%;
    }

    &__images::before {
        position: absolute;
        content: "";
        background:url("../img/main/main/points.png") 0 0 / 100% no-repeat;
        bottom: 0px;
        left: -13px;
        width: 122px;
        height: 122px;
    }


    &__images-item-2 {
        align-self: end;
        overflow: hidden;
        border-radius: 50% 50% 50% 0 
    }

    &__content {
        flex: 0 1 50%;
        padding: 90px 0;
        max-width: 610px;
    }
 
    &__btn .btn-under-title{
        border: 1px solid rgba(129, 129, 139, 0.2);
        border-radius: 12px;
        font-size: 11px;
        line-height: 1.54; /* 17/11 */
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #9C9C9C;
        padding: 11px 19px;
    }

    &__title {
        font-weight: 500;
        font-size: 51px;
        line-height: 1.19; /* 61/51 */
        color: #FFFFFF;
        padding: 43px 0 40px 0;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
        color: #9C9C9C;
        padding-bottom: 35px;
    }

    &__list li{
        list-style: none;
        position: relative;
        padding-left: 42px;
        min-height: 32px;
        padding-top: 10px;
    }

    &__list li::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background: rgba(129, 129, 139, 0.1) url("../img/main/why/check.png") center no-repeat;
        border-radius: 32px;
    }

    &__list li:not(:last-child) {
        margin-bottom: 16px;
    }
}

@media (max-width: 1180px) {

    .why {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .why__content {
        padding: 30px 0;
    }
}

@media (max-width: 999px){

    .why__container {
        flex-direction: column-reverse;
    }

    .why__content {
        padding: 0px 0;
    }
}

@media (max-width: 767.98px) {

    .why {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .why__content {
        text-align: center;
     }

     .why__list li {
        text-align: left;
     }

     .why__container {
        gap: 30px;
    }

    .why__content {
        padding: 0 0;
    }


    .why__title {
        font-size: 30px;
    }

    .why__text{
        font-size: 14px;
        line-height: 1.71; /* 24/14 */
    }
}

@media (max-width: 480px) {
    .why {
        padding-bottom: 25px;
        padding-top: 25px;
    }
}

//---------------------------------------------------------------------------------------------
//--Main - Statistic
//---------------------------------------------------------------------------------------------

.statistics {

    padding-bottom: 95px;
    padding-top: 95px;

    &__container {
        display: flex;
        gap: 32px;
    }

    &__content {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;

    }

    &__content-item {
        padding: 40px 0 40px 40px;
        background: rgba(129, 129, 139, 0.1);
        border-radius: 30px;
        max-width: 360px;
    }

    &__content-item-title {
        font-weight: 500;
        font-size: 51px;
        line-height: 1.2;
        color: #FFFFFF;
    }

    &__content-item-text {
        padding-top: 32px;
        font-size: 18px;
        line-height: 1.5;
        color: #9C9C9C;
    }

    &__images {
        flex: 0 1 39%; /* 500/1290 */
    }

    &__image {
        overflow: hidden;
        border-radius: 0 59% 50% 50%  / 0 50%  50% 50%;
    }

    &__images img{
        width: 100%;
    }
}


@media (max-width: 1180px) {

    .statistics {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .statistics__container {
        flex-direction: column;
        gap: 32px;
    }

    .statistics__content-item {
        max-width: 100%;
    }

    .statistics__images {
        max-width: 700px;
        align-self: center;
    }

}


@media (max-width: 767.98px) {

    .statistics {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .statistics__content-item-title {
        font-size: 30px;
    }

    .statistics__content-item-text{
        font-size: 14px;
        line-height: 1.71; /* 24/14 */
    }
}

@media (max-width: 710px) {
    .statistics__content {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 32px;
        max-width: 500px;
        align-self: center;
    }
}

@media (max-width: 480px) {
    .statistics {
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .statistics__content-item {
        padding: 15px;
    }

    .statistics__content-item-text{
        margin: 0 auto;
        padding-top: 15px;
    }

    
}

//---------------------------------------------------------------------------------------------
//--Main - Comments
//---------------------------------------------------------------------------------------------
.comments {
    padding-bottom: 95px;
    padding-top: 95px;
}

.comments-title-block {
    position: relative;

    &__btn {
        max-width: 140px;
    }

    &__title {
        font-weight: 500;
        font-size: 51px;
        line-height: 1.19; /* 61/51 */
        color: #FFFFFF;
        padding: 19px 0 12px 0;
        max-width: 630px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
        color: #9C9C9C;
        max-width: 740px;
    }

    &__actions {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.btn-under-title {
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    font-size: 11px;
    line-height: 1.54; /* 17/11 */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 11px 19px;  
    width: fit-content;
}

.clients-comments {
    margin-top: 75px;
    display: flex;
    gap: 48px;
    justify-content: space-around;

    &__item{
        padding: 64px 40px;
        background: #19191D;
        border-radius: 30px;
    }

    &__avatar {
        display: flex;
        justify-content: start;
        gap: 16px;
    }

    &__avatar-img {
        overflow: hidden;   
    }

    &__avatar-img img{
        width: 100%;
    }

    &__avatar-info {
        padding: 9px 0;
    }

    &__avatar-name {
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
    }

    &__avatar-company {
        font-size: 14px;
        line-height: 1.6;
        color: #9C9C9C;
    }

    &__title {
        padding: 33px 0;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.4;
        color: #FFFFFF;
    }
 
    &__text {
        padding-bottom: 35px;
        font-size: 16px;
        line-height: 1.5;
        color: #9C9C9C;
    }

    &__stars {
        display: flex;
        gap: 5px;
        justify-content: start;
    }

}

@media (max-width: 1180px) {

    .comments {
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

@media (max-width: 999px) {

    .comments-title-block__actions {
        position: relative;   
        margin-top: 12px;
    }

    .clients-comments {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        max-width: 800px;
    }

}


@media (max-width: 767.98px) {

    .comments {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .comments-title-block__title {
        font-size: 30px;
    }

    .comments-title-block__text{
        font-size: 14px;
        line-height: 1.71; /* 24/14 */
    }

    .clients-comments {
        margin-top: 55px;
    }

    .clients-comments__item{
        padding: 44px 30px;
    }
}


@media (max-width: 480px) {
    .comments {
        padding-bottom: 25px;
        padding-top: 25px;
    } 

    .clients-comments__item{
        padding: 24px 20px;
    }
    
    .clients-comments {
    
        &__avatar-name {
            font-size: 14px;
            line-height: 1.5;
            color: #FFFFFF;
        }
    
        &__avatar-company {
            font-size: 12px;
            line-height: 1.6;
            color: #9C9C9C;
        }
    
        &__title {
            padding: 15px 0;
            font-size: 28px;
            line-height: 1.4;
        }
     
        &__text {
            padding-bottom: 15px;
            font-size: 14px;
            line-height: 1.5;
        }
    
    }
}

//---------------------------------------------------------------------------------------------
//--Main - Comments
//---------------------------------------------------------------------------------------------

.blog {
    padding-bottom: 95px;
    padding-top: 95px;
}

.blog-posts {
    padding-top: 64px;
    display: flex;
    gap: 48px;

    &__item {
        max-width: 400px;
        background: rgba(129, 129, 139, 0.1);
        border-radius: 24px;
        overflow: hidden;
    }

    &__image img{
        width: 100%;
    }

    &__date {
        padding: 36px 0px 20px 26px;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(129, 129, 139, 0.9);
    }

    &__title {
        padding: 0px 0px 0px 26px;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.4;
        color: #FFFFFF;
        max-height: 53px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text {
        padding: 30px 29px 21px 26px;
        font-size: 16px;
        line-height: 1.5;
        color: #9C9C9C;
    }

    &__btn-read-now {
        display: block;
        padding: 0px 0px 40px 26px;
        font-size: 14px;
        line-height: 1.6;
        color: #3D96F4;
    }
}


@media (max-width: 1180px) {

    .blog {
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

@media (max-width: 999px) {

    .blog-posts {
        padding-top: 0px;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        max-width: 800px;
    }

    .blog-posts__item {
        max-width: 800px;
    }

}



@media (max-width: 767.98px) {

    .blog {
        padding-bottom: 60px;
        padding-top: 60px;
    }

}


@media (max-width: 480px) {
    .blog {
        padding-bottom: 25px;
        padding-top: 25px;
    } 

    .blog-posts {
        padding-top: 0px;
        gap: 38px;
    
        &__date {
            padding: 26px 0px 20px 26px;

        }
    
        &__title {
            padding: 0px 0px 0px 26px;
        }
    
        &__text {
            padding: 20px 29px 21px 26px;
        }
    
        &__btn-read-now {
            padding: 0px 0px 20px 26px;
        }
    }

}

//---------------------------------------------------------------------------------------------
//--Main - Start
//---------------------------------------------------------------------------------------------
.start {

    margin-bottom: 270px;
    margin-top: 95px;

    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;

    &__container {
        display: flex;
    }

    &__content {
        flex: 0 1 50%;
        text-align: center;
        padding: 4.1% 11%;
    }

    &__content-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 1.4;
        color: #FFFFFF;
        text-align: center;
    }

    &__content-text {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #9C9C9C;
    }

    &__actions {
        flex: 0 1 50%;
        justify-content: center;
        align-self: center;
        padding: 7.9% 11.9%;
    }
}

@media (max-width: 1180px) {

    .start{
        margin-bottom: 160px;
        margin-top: 80px;
    }

    .start__content {
        padding: 3.1% 5%;
    }

    .start__actions {
        padding: 5.9% 3.9%;
    }

}

@media (max-width: 999px) {

    .start{
        margin-bottom: 150px;
        margin-top: 70px;
    }


    .start__container {
        flex-direction: column;
    }

    .start__content {
        padding: 4.1% 5%;
    }

    .start__actions {
        padding:  0 3.9% 4.1% 3.9%;
    }

}

@media (max-width: 767.98px) {

    .start__content-title {
        font-size: 30px;
    }

}


@media (max-width: 480px) {
    .start{
        margin-bottom: 130px;
        margin-top: 50px;
    }

    .start__container {
        padding: 15px 0;
    }
    
}


//---------------------------------------------------------------------------------------------
//--Footer
//---------------------------------------------------------------------------------------------

.footer {

    &__main {
        display: flex;
        gap: 64px;
        padding-bottom: 180px;
    }

    &__content {
        flex:  0 1 31%;
        padding-bottom: 23px;
    }


    &__content-text {
        font-size: 16px;
        line-height: 1.5;
        max-height: 400px;
        overflow: hidden;
        padding: 33px 0;
    }

    &__social-lincs {
        display: flex;
        gap: 16px;
    }

    &__link {
        width: 36px;
        height: 36px;
        border: 1px solid rgba(129, 129, 139, 0.9);
        border-radius: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link:hover {
        transition-duration: 0.3s;
        background-color: #323131;
        cursor: pointer;
    }

    &__menu {
        flex:  0 1 34%;
        display: flex;
    }

    &__copyright {
        border-top: 1px solid rgba(129, 129, 139, 0.2);
    }

    &__copyright-text {
        line-height: 1.6;
        text-align: center;
        padding: 46px 0;
    }

    &__subscribe-form {
        flex:  0 1 31%;
    }
}
.footer-menu {

    &__column {
        flex: 0 1 50%;
        gap: 64px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__list li:not(:last-child){
        margin-bottom: 24px;
    }

    &__link:hover {
        transition-duration: 0.3s;
        color: #FFFFFF;
        opacity: 0.8;
    }

    &__link {
        font-size: 16px;
        line-height: 1.6; /* 26/16 */
    }
}
.subscribe-form {

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #FFFFFF;
    }

    &__text {
        padding: 30px 0 33px 0;
        font-size: 16px;
        line-height: 1.5;
        max-width: 301px;
    }

    &__form {
        display: flex;
        gap: 16px;
    }

    &__form-input {
        box-sizing: border-box;
        width: 224px;
        height: 54px;
        border: 1px solid rgba(129, 129, 139, 0.3);
        border-radius: 50px;
        background-color: #1E1E1E;
        padding-left: 33px;
    }

    &__form-input:hover { 
        transition-duration: 0.1s;
        transform: scale(1.05);
    }

    &__form-input::placeholder {
        color: #999999;
        font-size: 16px;
        line-height: 1.5; /* 24/16 */
    }

    &__button {
    }
}


@media (max-width: 1180px) {

    .footer__main {
        padding-bottom: 160px;
        justify-content: space-around;
        gap: 64px;
    }

    .footer-menu{
        flex:  0 1 24%;
    }
    

    
}

@media (max-width: 1100px) {
    .footer__main {
        flex-wrap: wrap;
    }
}

@media (max-width: 999px) {
    .footer__main {
        padding-bottom: 140px;
    }

    .footer-menu{
        gap: 44px;
    }
}

@media (max-width: 767.98px) {
    .footer__main {
        padding-bottom: 100px;
        flex-direction: column;
    }

    .footer-menu{
        flex:  0 1 24%;
    }

    .footer-menu__column {
        flex: 0 1 30%;
    }


}


@media (max-width: 480px) {
    .footer__main {
        padding-bottom: 60px;
    }

    .subscribe-form__form {
        flex-direction: column;
    }
}